@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
:root {
    --main-bg-color: #ffffff;
    --sec-bg-color: #e7e4e4;
    --theme-color: #73adff;
    --theme-colors: #7375ff;
    --main-text-color: #000000;
    --secondary-text-color: #7c7c7c;
    --section-width: 85%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}
h2 {
    text-transform: capitalize;
    font-weight: 300;
}
h3 {
    text-transform: capitalize;
    font-weight: 300;
}

a,
a:visited {
    text-decoration: none;
}

.app {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

.container,
.container-landing {
    margin: 30px auto;
    display: flex;
    width: var(--section-width);
    max-width: 1440px;
}
.container-landing {
    margin: 40px auto;
}
.web-state {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--theme-color);
    z-index: 10;
}

/* Start of loading page */
.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loading svg {
    border-radius: 50%;
    animation: spin 3s ease infinite alternate;
}

/*Give each dot a radius of 20*/
.shape {
    r: 20;
}

/*Give each dot its positioning and set the default animation and color for each */
.shape:nth-child(1) {
    cy: 50;
    cx: 50;
    fill: #c20f00;
    animation: movein 3s ease infinite alternate;
}
.shape:nth-child(2) {
    cy: 50;
    cx: 150;
    fill: #ffdd22;
    animation: movein 3s ease infinite alternate;
}
.shape:nth-child(3) {
    cy: 150;
    cx: 50;
    fill: #2374c6;
    animation: movein 3s ease infinite alternate;
}
.shape:nth-child(4) {
    cy: 150;
    cx: 150;
    fill: #000000;
    animation: movein 3s ease infinite alternate;
}

/* Put the two interface options at the bottom of the screen */
.control-panel {
    position: fixed;
    bottom: 5px;
    display: flex;
    align-items: center;
}

/* Set color and placement of labels */
.switch-label {
    display: inline-block;
    color: #000000;
    margin: 5px;
}

/* Set area of switches */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

/* Get rid of checkbox defaults */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Create the slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffdd22;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 3px;
    bottom: 3px;
    background-color: #000000;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

/* Change color on checked */
input:checked + .slider {
    background-color: #c20f00;
}

/* Set second color change */
.movement input:checked + .slider {
    background-color: #2374c6;
}

/* Set the focus to same color as when checked*/
input:focus + .slider {
    box-shadow: 0 0 3px #c20f00;
}
.movement input:focus + .slider {
    box-shadow: 0 0 3px #2374c6;
}

/* Actually move the slider when checked*/
input:checked + .slider:before {
    -webkit-transform: translateX(25px);
    -ms-transform: translateX(25px);
    transform: translateX(25px);
}

/* Round the sliders */
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}

/*Spin the svg so all the dots spin*/
@keyframes spin {
    to {
        transform: rotate(1turn);
    }
}

/* Move all the dots toward the center */
@keyframes movein {
    to {
        cy: 100;
        cx: 100;
    }
}

/* Set a bouncy ball type movement for the dots */
@keyframes moveup {
    to {
        cy: 20;
    }
}

/* End of loading page */

/* Start of navbar */
.navbar {
    height: 60px;
    position: fixed;
    top: 0;
    margin: 0;
    width: 100%;
    max-width: 1440px;
    background: var(--main-bg-color);
    margin: 0 auto;
    color: var(--main-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0 10px 0;
    box-shadow: 0px 2px 3px #e5e5e5;
    z-index: 10;
}
.slideDown {
    animation-name: slideDown;
    -webkit-animation-name: slideDown;

    animation-duration: 1s;
    -webkit-animation-duration: 1s;

    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;

    visibility: visible !important;
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }
    50% {
        transform: translateY(8%);
    }
    65% {
        transform: translateY(-4%);
    }
    80% {
        transform: translateY(4%);
    }
    95% {
        transform: translateY(-2%);
    }
    100% {
        transform: translateY(0%);
    }
}

@-webkit-keyframes slideDown {
    0% {
        -webkit-transform: translateY(-100%);
    }
    50% {
        -webkit-transform: translateY(8%);
    }
    65% {
        -webkit-transform: translateY(-4%);
    }
    80% {
        -webkit-transform: translateY(4%);
    }
    95% {
        -webkit-transform: translateY(-2%);
    }
    100% {
        -webkit-transform: translateY(0%);
    }
}

.nav {
    width: var(--section-width);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 11;
}

.nav-logo {
    flex: 2;
    text-decoration: none;
    font-size: 20px;
    color: var(--main-text-color);
    display: flex;
}
.nav-logo img {
    width: 60px;
    height: 100%;
}
.nav-logo strong {
    color: var(--theme-color);
    font-size: 24px;
    font-weight: 700;
}
.nav-item {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
    margin-right: 10px;
    text-transform: uppercase;
}
.nav-item:last-child {
    margin-right: 0;
}
.nav-item:after {
    content: "";
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width 0.5s ease, background-color 0.5s ease;
}
.nav-item:hover:after {
    width: 100%;
    background: var(--theme-color);
}
.nav-item:last-child:hover:after {
    background: transparent;
}

.nav-links {
    flex: 4;
    display: flex;
    justify-content: flex-end;
    grid-template-columns: repeat(4, auto);
    grid-gap: 20px;
    list-style: none;
}
.border-top {
    width: 100%;
    height: 1px;
    background-color: solid var(--theme-color);
}

.join {
    padding: 0.25rem 1.5rem;
    border: none;
    color: var(--main-bg-color);
    background-color: var(--theme-color);
    transition: 0.3s all;
    border-radius: 20px;
}
.join:hover {
    color: var(--theme-color);
    background-color: var(--sec-bg-color);
    cursor: pointer;
}

.button-wiggle {
    animation: wiggle 4s 2s infinite;
}
.button-wiggle:hover {
    animation: none;
    transition: 0.3s;
}

@keyframes wiggle {
    5%,
    50% {
        transform: scale(1);
    }
    10% {
        transform: scale(0.9);
    }
    15% {
        transform: scale(1.15);
    }
    20% {
        transform: scale(1.15) rotate(-5deg);
    }
    25% {
        transform: scale(1.15) rotate(5deg);
    }
    30% {
        transform: scale(1.15) rotate(-3deg);
    }
    35% {
        transform: scale(1.15) rotate(2deg);
    }
    40% {
        transform: scale(1.15) rotate(0);
    }
}

.nav-icon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}
.menu {
    background: #ffffff;
    border-radius: 8px;
    position: absolute;
    top: 60px;
    right: 0;
    width: 200px;
    text-align: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    background: #ffffff;
    z-index: 20;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    border-bottom: 1px solid #dddddd;
}

.menu li a {
    text-decoration: none;
    padding: 15px 20px;
    display: block;
    color: var(--main-text-color);
}
.nav-link {
    text-decoration: none;
    color: var(--main-text-color);
    transition: 0.3s all;
}
.nav-link:hover,
.menu li a:hover {
    color: var(--theme-color);
    transition: 0.5s all;
}
/* End of navbar */

/* Footer  */
.footer-bg {
    width: 100%;
    background: var(--main-text-color);
    color: var(--main-bg-color);
    margin: 0;
    padding: 2rem 0;
    z-index: 15;
}
.footer-bg .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}
.footer-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 2rem 0;
    width: 100%;
}
.footer-col {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: start;
    margin: 20px 0;
}
.footer-hd {
    display: flex;
    flex-direction: row;
}
.footer-hd img {
    width: 60px;
    height: 100%;
}
.footer-hd div h3 strong {
    color: var(--theme-color);
}
.footer-col h3 {
    margin-bottom: 30px;
}
.footer-dtl p {
    margin-bottom: 10px;
}
.socials {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
i {
    color: var(--theme-color);
    margin: 9px;
    cursor: pointer;
}
.sprt {
    width: 100%;
    align-self: center;
    padding: 0.5px;
    margin: 3rem 0 1rem;
    background: var(--theme-color);
}
.copyright {
    align-self: center;
    text-align: center;
    font-size: x-small;
}

/* End of footer */

/* Start of home page */
.home {
    background-image: url(https://images.unsplash.com/photo-1550745165-9bc0b252726f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Y29tcHV0ZXJzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
    min-height: 100vh;
    background-attachment: fixed;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.projects {
    background-image: url(https://images.unsplash.com/photo-1572177812156-58036aae439c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cHJvamVjdHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60);
    min-height: 100vh;
    background-attachment: fixed;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.blog {
    background-image: url(https://images.unsplash.com/photo-1649658808860-ae2c01024aaa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDl8Ym84alFLVGFFMFl8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60);
    min-height: 100vh;
    background-attachment: fixed;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.about-landing {
    background-image: url(https://images.unsplash.com/photo-1518481852452-9415b262eba4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8YWJvdXR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
    min-height: 100vh;
    background-attachment: fixed;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.single-blog {
    min-height: 100vh;
    background-attachment: fixed;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.landing {
    margin: 100px 0;
    padding: 2rem;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    align-items: center;
}
.slideLeft {
    animation-name: slideLeft;
    -webkit-animation-name: slideLeft;

    animation-duration: 1s;
    -webkit-animation-duration: 1.3s;

    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;

    visibility: visible !important;
}

@keyframes slideLeft {
    0% {
        transform: translateX(200%);
    }
    100% {
        transform: translateX(0%);
    }
}

@-webkit-keyframes slideLeft {
    0% {
        -webkit-transform: translateX(200%);
    }
    100% {
        -webkit-transform: translateX(0%);
    }
}

.landing h1 {
    font-size: 50px;
    margin-top: 20px;
    width: 80%;
    text-align: center;
    font-weight: 300;
    padding-bottom: 40px;
    color: var(--main-bg-color);
}
h1 strong {
    color: var(--theme-colors);
    text-transform: none;
}
.tags {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: smaller;
    width: 70%;
    color: var(--main-bg-color);
    text-align: center;
    margin: 50px auto;
}

.landing .join {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 33px;
    padding: 0.7rem 1.2rem;
}
.container-bg,
.container-bg1 {
    width: 100%;
    padding: 4rem 0;
}
.container-bg {
    background: var(--theme-colors);
    color: var(--main-bg-color);
}
.container-bg1 {
    background-color: var(--sec-bg-color);
}
.container .row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--main-bg-color);
}
.metrics {
    flex: 1;
    padding: 0 2rem;
    text-align: center;
}

.separator {
    border-right: 1px solid var(--main-bg-color);
    height: 140%;
}
.metrics-text {
    flex: 4;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.metrics-text .card {
    text-align: center;
    width: 50%;
    margin: 1rem 1rem;
    padding: 1rem 1rem;
}
.metrics-text .card h3 {
    color: var(--main-text-color);
    padding: 1.5rem;
}
.focus,
.about {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}
.fadeIn {
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;

    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;

    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;

    visibility: visible !important;
}

@keyframes fadeIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        -webkit-transform: scale(0);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}
.expandUp {
    animation-name: expandUp;
    -webkit-animation-name: expandUp;

    animation-duration: 0.7s;
    -webkit-animation-duration: 0.7s;

    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;

    visibility: visible !important;
}

@keyframes expandUp {
    0% {
        transform: translateY(100%) scale(0.6) scaleY(0.5);
    }
    100% {
        transform: translateY(0%) scale(1) scaleY(1);
    }
}

@-webkit-keyframes expandUp {
    0% {
        -webkit-transform: translateY(100%);
    }
    100% {
        -webkit-transform: translateY(0%);
    }
}
.focus h1,
.about h1 {
    align-self: center;
    text-align: center;
    width: 100%;
    font-weight: 300;
    padding-bottom: 0.5rem;
}
.about .tags {
    align-self: center;
    text-align: center;
}
.focus-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem;
    box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.25),
        -3px -5px 7px rgba(0, 0, 0, 0.25);
}
.focus-cards .card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0.5rem 1rem;
    transition: 0.6s ease-in;
}
.focus-cards .card .text {
    padding: 1.5rem 0 0 0;
}
.focus-cards .card .text h3,
.focus-cards .card .text p {
    padding: 0.75rem 0;
}
.btn {
    display: inline-block;
    margin: 30px 0 0 0;
    padding: 0.75rem 1.25rem;
    border-radius: 10rem;
    color: var(--theme-color);
    outline: none;
    border: none;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.btn::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--theme-color);
    border-radius: 10rem;
    z-index: -2;
}
.btn::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--theme-color);
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
}
.btn:hover {
    color: var(--main-bg-color);
    cursor: pointer;
}
.btn:hover::before {
    width: 100%;
}
.text .btn {
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
}
.text .btn::before {
    background-color: var(--main-text-color);
}
.text .btn:hover {
    color: var(--main-bg-color);
}
.about-card {
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-card .svg {
    flex: 1;
    padding: 2rem;
}
.about-card .text {
    flex: 1;
    padding: 2rem;
}
.overlay {
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.7) 44.79%,
        rgba(0, 0, 0, 0.6) 100%
    );
    width: 100%;
    min-height: 100vh;
}
/* End of home page */

/* Contact page  */
.contact-page {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin-top: 50px;
    padding: 40px;
}
.contact-container {
    max-width: 800px;
    width: 800px;
    padding: 25px 40px 10px 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}
.contact-container h2 {
    text-align: center;
    padding-bottom: 2rem;
}
.contact-container form {
    padding: 30px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.contact-container form .form-row {
    display: flex;
    margin: 10px 0;
}
form .form-row .input-data {
    width: 100%;
    height: 50px;
    margin: 0 20px;
    position: relative;
}
form .form-row .textarea {
    height: 70px;
}
.input-data input,
.textarea textarea {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 17px;
    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.input-data input:focus ~ label,
.textarea textarea:focus ~ label,
.input-data input:valid ~ label,
.textarea textarea:valid ~ label {
    transform: translateY(-23px);
    font-size: 12px;
    color: #3498db;
}
.input-data input:focus,
.textarea textarea:focus {
    outline: none;
}
.textarea textarea {
    resize: none;
    padding-top: 10px;
}
.input-data label {
    position: absolute;
    pointer-events: none;
    bottom: 10px;
    font-size: 16px;
    transition: all 0.3s ease;
}
.textarea label {
    width: 100%;
    bottom: 40px;
}
.input-data .underline {
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
}
.input-data .underline:before {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    background: #3498db;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before,
.textarea textarea:focus ~ .underline:before,
.textarea textarea:valid ~ .underline:before {
    transform: scale(1);
}
.form-row .btn:hover {
    color: var(--main-bg-color);
    background-color: var(--main-text-color);
}
/* End of the contact page */

/* Service page */
.service-bg {
    width: 100%;
}
.service-container h2 {
    text-align: center;
}
.service-container h1 {
    color: brown;
}
#services {
    padding: 60px 0 40px 0;
}

#services .box {
    padding: 30px;
    position: relative;
    border-radius: 10px;
    margin: 0 10px 40px 10px;
    background: #fff;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    transition: all 0.3s ease-in-out;
    text-align: center;
}

#services .box:hover {
    transform: scale(1.1);
}

#services .icon {
    margin: 0 auto 15px auto;
    padding-top: 12px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

#services .icon .service-icon {
    font-size: 36px;
    line-height: 1;
}

#services .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}
#serviceCat {
    background-color: var(--theme-color);
}
.service-bg .container-bg1 p {
    color: #2e2d2d;
}

#services .title p,
.box p {
    color: #2e2d2d;
}
.box p {
    text-align: left;
}
#services .box:hover .title p {
    color: var(--theme-color);
}
#services .box:hover .title a:hover {
    text-decoration: none;
}
.service-container .row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1em;
}
.service-container .row .col {
    flex: 1;
    width: 100%;
    row-gap: 20px;
    column-gap: 20px;
}
.post-img {
    width: 100%;
    border-radius: 6px;
    transition: 0.3s linear;
}
/* End of service page */

/* Blog page */
.row-separator {
    display: flex;
    flex-direction: row;
}
.sidebar {
    flex-grow: 2;
}
.sidebar h3 {
    text-align: left;
    font-weight: 600;
    padding: 1rem;
    color: var(--theme-color);
}
.sidebar .list {
    padding: 10px;
}
.sidebar .list:hover {
    color: var(--theme-colors);
    transition: 0.3s ease;
}
/* .sidebar .list:hover{
    color: var(--theme-color)
} */
.news a,
.sidebar .list a {
    text-decoration: none;
    color: inherit;
}
.news {
    flex-grow: 4;
}
.pic {
    display: flex;
    justify-content: center;
    align-items: center;
}
.news-card {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1rem 0;
    margin: 0.5rem 0;
}
.news-card .story-line {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.news-card .story-line .image {
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.news-card .story-line p {
    padding-top: 0.5rem;
}
.sidebar .list p small,
.news-card .story-line p small {
    color: var(--theme-colors);
}

.news-title {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 150%;
    text-align: center;
    padding-bottom: 2rem;
}
label {
    color: #000;
}
.shadow-hover:hover {
    transition: all 0.4s;
    box-shadow: 0 2px 9px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.story-line {
    padding: 1rem;
    line-height: 150%;
    width: 60%;
    letter-spacing: 1px;
}
.story-line h3 {
    margin: 1rem 0;
    letter-spacing: 2px;
    font-size: 1.5rem;
}
.news h2 {
    text-align: center;
    font-weight: 600;
    padding: 1rem;
    color: var(--theme-colors);
}
.snip1527 {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    color: #ffffff;
    float: left;
    font-family: "Lato", Arial, sans-serif;
    font-size: 16px;
    margin: 10px 1%;
    min-width: 250px;
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 100%;
}

.snip1527 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.snip1527 img {
    max-width: 100%;
    vertical-align: top;
    position: relative;
}

.snip1527 figcaption {
    padding: 25px 20px 25px;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.snip1527 figcaption:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #700877;
    content: "";
    background: -moz-linear-gradient(
        90deg,
        #700877 0%,
        #ff2759 100%,
        #ff2759 100%
    );
    background: -webkit-linear-gradient(
        90deg,
        #700877 0%,
        #ff2759 100%,
        #ff2759 100%
    );
    background: linear-gradient(90deg, #700877 0%, #ff2759 100%, #ff2759 100%);
    opacity: 0.8;
    z-index: -1;
}

.snip1527 h3,
.snip1527 p {
    margin: 0;
    padding: 0;
}

.snip1527 h3 {
    display: inline-block;
    font-weight: 700;
    letter-spacing: -0.4px;
    margin-bottom: 5px;
}

.snip1527 p {
    font-size: 0.8em;
    line-height: 1.6em;
    margin-bottom: 0px;
}

.snip1527 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
}

.snip1527:hover img,
.snip1527.hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
/* End of blog page */

.innovatah {
    width: 120px !important;
}

main {
    width: 100%;
    max-width: 1440px;
    padding: 16px;
}
.slider .buttons {
    z-index: 1;
    right: 50%;
    top: 561px;
    width: 80px;
    height: 40px;
    position: absolute;
    border-radius: 50px;
    transform: translateX(50%);
    background-color: #ffffff;
}
.slider .buttons .previous,
.slider .buttons .next {
    width: 50%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.slider .buttons .previous {
    left: 0;
    background-image: url("https://alcs-slider.netlify.app/images/icon-prev.svg");
}
.slider .buttons .previous:hover {
    transform: scale(1.25);
}
.slider .buttons .next {
    right: 0;
    background-image: url("https://alcs-slider.netlify.app/images/icon-next.svg");
}
.slider .buttons .next:hover {
    transform: scale(1.25);
}
.slider .slide {
    display: flex;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
}
.slider .slide .testimonial {
    padding: 32px 51px;
    background-size: 60px;
    background-position: top;
    background-repeat: no-repeat;
    background-image: url(https://alcs-slider.netlify.app/images/pattern-quotes.svg);
}
.slider .slide .testimonial blockquote {
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 36px;
}
.slider .slide .testimonial .author {
    font-size: 15px;
    font-weight: 700;
}
.slider .slide .testimonial .author span {
    display: block;
    color: #babacf;
    font-weight: 500;
}
.slider .slide .slider-img {
    width: 100%;
    padding: 30px;
    display: flex;
    margin-bottom: 40px;
    align-items: center;
    justify-content: center;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(https://alcs-slider.netlify.app/images/pattern-bg.svg);
}
.slider .slide .slider-img img {
    width: 240px;
    display: block;
    border-radius: 10px;
    box-shadow: 0px 16px 40px 0px rgba(135, 105, 210, 0.4);
}
.slider .slide .active {
    opacity: 1;
    transform: translateX(0) scale(1);
    transition-delay: 0.4s;
}
html body .hide {
    display: none;
}
@media screen and (max-width: 1200px) {
    .blog-posts {
        justify-content: center;
    }
    .post {
        width: min(600px, 100%);
    }
}
@media screen and (min-width: 600px) {
    main {
        max-width: 800px;
    }
    .slider .buttons {
        top: 280px;
    }
}
@media screen and (min-width: 900px) {
    main {
        width: 100%;
        max-width: 1054px;
        padding: 64px 64px 64px 0;
    }
    .slider .buttons {
        right: 43%;
        top: 500px;
    }
    .slider .slide {
        position: relative;
        text-align: left;
        display: flex;
        flex-direction: row;
    }
    .slider .slide .testimonial {
        padding: 32px 0 0 0;
        background-size: 80px;
        background-position: 19% -7%;
        transform: translateX(100px);
    }
    .slider .slide .testimonial blockquote {
        font-size: 24px;
        line-height: 30px;
    }
    .slider .slide .testimonial .author span {
        display: contents;
    }
    .slider .slide .slider-img {
        padding: 55px;
    }
    .slider .slide .slider-img img {
        width: 400px;
    }
}

/* Media queries */
@media only screen and (max-width: 800px) {
    * {
        transition: 0.3s ease;
    }
    .sidebar {
        display: none;
    }
    .news-card .story-line {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .navbar {
        background-color: var(--main-bg-color);
        position: fixed;
        top: 0;
        width: 100%;
    }
    .footer-row {
        flex-direction: column;
        margin: 20px 0;
        align-items: center;
    }
    .nav {
        position: relative;
    }
    .container,
    .container-landing {
        width: 90%;
    }
    .container-landing {
        margin: 70px 0;
    }
    .landing {
        padding: 2rem;
        width: 100%;
    }
    .landing .join {
        font-size: 14px;
        line-height: 30px;
        padding: 0.7rem 1rem;
    }
    .tags {
        flex-direction: column;
        padding: 5px 0;
        margin: 20px 0;
    }
    .tag img {
        width: 65%;
    }
    h1 {
        margin: 30px 0 0 0;
        font-size: 1.8rem;
        width: 90%;
    }
    .fg {
        font-size: 1.2rem;
        width: 60%;
        top: 10%;
        left: 5%;
    }
    .container .row {
        margin-top: 30px;
        padding: 0;
        flex-direction: column;
        width: 100%;
    }
    .row .separator {
        border-right: none;
    }
    .row .separator-2 {
        width: 80%;
        height: 1px;
        background-color: var(--main-bg-color);
        margin: 1rem 0;
        padding: 0.5px 0;
    }
    .tag img {
        width: 85%;
    }
    .nav-item:hover:after {
        width: 40%;
        background: var(--theme-color);
    }
    .nav-links {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        position: absolute;
        text-align: center;
        width: 100%;
        height: 80vh;
        top: 70px;
        right: -150%;
        transition: 0.5s all;
        box-shadow: 0px 5px 7px #e5e5e5;
    }

    .nav-links.active {
        background: var(--main-bg-color);
        right: 0;
    }

    .nav-item {
        padding: 10px 0;
    }

    .nav-icon {
        display: flex;
    }
    .menu {
        top: 50px;
        right: 30%;
    }
    .about-card {
        flex-direction: column;
    }
    .focus-cards {
        flex-direction: column;
    }
    .input-group {
        padding: 1.5rem;
    }
    .container form .form-row {
        display: block;
    }
    form .form-row .input-data {
        margin: 15px 0 !important;
    }
    .submit-btn .input-data {
        width: 40% !important;
    }
    .service-container .row {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width: 540px) {
    .sidebar {
        display: none;
    }

    h1 {
        font-size: 1.4rem;
        padding: 0 0 10px 0;
    }
    .landing {
        padding: 0.5rem;
        width: 100%;
        margin: 0px 10px;
    }
    .fg {
        font-size: 70%;
        width: 40%;
        top: 15%;
        left: 5%;
    }
    .focus-cards {
        flex-direction: column;
    }
    .tag img {
        width: 90%;
    }
    .landing .join {
        font-size: 14px;
        line-height: 30px;
        padding: 0.7rem 1rem;
    }
    .menu {
        right: 20%;
    }
    .input-group {
        align-self: center;
        max-width: 240px;
    }
    .service-container .row {
        grid-template-columns: repeat(1, 1fr);
    }
    .container .row {
        margin-top: 30px;
        padding: 0;
        flex-direction: column;
        width: 100%;
    }
    .our-apis {
        width: 320px;
    }
    .api-list .row {
        grid-template-columns: repeat(1, 1fr);
    }
}
